//- @param - edit or add
mixin taskFields(param)
  .form-container
      input(type="hidden" name="_csrf" value=token)
      input(type="hidden" name="projectId" value="" id=`${param}ProjectIdField`)
      .form-item
        label(for="name") Name:
        input(name="name" id=`${param}TaskNameField`)
      .form-item
        label(for="deadline") Date:
        input(type="date" id=`${param}TaskDate` name="deadline")
      .form-item
        label(for="importance")
        select(name="importance" id=`${param}Importance`)
          option(value="High") High
          option(value="Medium") Medium
          option(value="Low") Low
      .form-item
        label(for="isComplete") Completed?
          label Yes
          input(type="radio" name="isComplete" value="true")
          label No
          input(type="radio" name="isComplete" value="false")
