include includes/task-fields.pug
form.hidden-form.task-area-forms.form#addGroup(action="/home/groups", method="post")
  h3.form-header Create New Group
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="groupNameField" required)
    button.main-submit-btn(type="submit" id="addGroupSubmit") Create Group

form.hidden-form.task-area-forms.form#editGroup(action="" method="POST")
  h3.form-header Edit Group
  .form-container
    input(type="hidden" name="_csrf" id="editGroupToken" value=token)
    .form-item
      label(for="name") Name:
      input#groupName(name="name" type="text" value="" required)
    button.main-submit-btn(type="submit") Update

form.hidden-form.task-area-forms.form#addProject(action="/home/projects", method="post")
  h3.form-header Create Project
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" required)
    .form-item
      label(for="description") Description:
      input(type="textarea" name="description")
    .form-item
      label(for="deadline") Date:
      input(type="date" name="deadline" value="" min="1997-01-01" max="2030-12-31")
    .form-item
      label(for="category") Category:
      select(name="categoryId" required)
        each category in categories
          option(value=category.id)= category.name
    .form-item
      label(for="group") Group:
      select(name="groupId" required)
        each group in groups
          option(value=group.id)= group.name
    button.main-submit-btn(type="submit") Create Project

form.hidden-form.task-area-forms.form#editProject(action="" method="post")
  h3.form-header Edit Project
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="projectNameField" required)
    .form-item
      label(for="description") Description:
      input(type="textarea" name="description")
    .form-item
      label(for="deadline")
      input(type="date" name="deadline")
    .form-item
      label(for="category")
      select(name="categoryId")
        each category in categories
          option(value=category.id required)= category.name
    button.main-submit-btn(type="submit") Update Project

form.hidden-form.task-area-forms.form#addTask
  h3.form-header Add Task
  +taskFields("add")
  button.main-submit-btn(type="none") Add Task

form.hidden-form.task-area-forms.form#editTask
  h3.form-header Edit Task
  +taskFields("edit")
  button.main-submit-btn(type="none") Edit Task


