form.hidden-form.task-area-forms.form#editGroup(action="" method="POST")
  h3 Edit Group
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input#groupName(name="name" type="text" value="")
    button.submit-btn(type="submit") Update Group

form.hidden-form.task-area-forms.form#editProject(action="" method="POST")
  h3 Edit Project
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="projectNameField")
    .form-item
      label(for="description") Description:
      input(type="textarea" name="description")
    .form-item
      label(for="deadline")
      input(type="date" name="deadline")
    .form-item
      label(for="category")
      select(name="categoryId")
        each category in categories
          option(value=category.id)= category.name
    button.submit-btn(type="submit") Update Project

form.hidden-form.task-area-forms.form#addTask
  h3 Task Information
  .form-container
    input(type="hidden" name="_csrf" value=token)
    input(type="hidden" name="projectId" value="" id="projectIdField")
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="taskNameField")
    .form-item
      label(for="deadline") Date:
      input(type="date" id="taskDate" value="" name="deadline")
    .form-item
      label(for="importance")
      select(name="importance")
        option(value="High") High
        option(value="Medium") Medium
        option(value="Low") Low
    .form-item
      label(for="isComplete") Completed?
        label Yes
        input(type="radio" name="isComplete" value="true")
        label No
        input(type="radio" name="isComplete" value="false")
    button.submit-btn(type="none" id="addTaskSubmit") Submit Task
form.hidden-form.task-area-forms.form#addGroup(action="/home/groups", method="post")
  h3 Create Group
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="groupNameField")
    button.submit-btn(type="submit") Create Group

form.hidden-form.task-area-forms.form#addProject(action="/home/projects", method="post")
  h3 Create Project
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="")
    .form-item
      label(for="description") Description:
      input(type="textarea" name="description")
    .form-item
      label(for="deadline")
      input(type="date" name="deadline" value="" min="1997-01-01" max="2030-12-31")
    .form-item
      label(for="category")
      select(name="categoryId")
        each category in categories
          option(value=category.id)= category.name
    button.submit-btn(type="submit") Create Project
