extends layout
append head
  link(rel="stylesheet" href="./stylesheets/index.css")
  link(rel="stylesheet" href="./stylesheets/hover.css")
  link(rel="icon" href="/images/bp-logo.jpg")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  //- add page specific js
  script(src="./javascripts/accordion.js" type="module" defer)
  script(src="./javascripts/task.js" type="module" defer)
  script(src="./javascripts/buttons.js" type="module" defer)
  script(src="./javascripts/group.js" type="module" defer)
  script(src="./javascripts/project.js" type="module" defer)

block content
  .container
    .user-sidebar.page-area-blue
      .user-corner
        h2.logo bp
        p Welcome, #{user.username}
        p: a(href="/users/logout") Logout
      .nav-area
        h2#group-text Your Groups
        ul#groupList
          each group in groups
            .group-line
              li= group.name
              .group-list-button-container
                button(type="button", value=group.name, class="btn group-edit-btn hvr-push", data-id=group.id data-token=token)
                  i(class="fa fa-pencil" aria-hidden="true")
                a(href=`/home/groups/${group.id}/delete`)
                  i(class="fas fa-trash-alt group-delete-btn")
        button.btn(type="button", id="add-group" class="hvr-grow") Add Group
      include about.pug
    .projects-area
      .search
        input(id="searchbar" type="text" placeholder="Search")
        button(type="submit" id="search-btn")
          i(class="fa fa-search")
      .accordion-area
        each group in groups
          each project in group.Projects
              .accordion(id=project.id)= project.name
                .accordion-button-container
                  button(class="btn add-task-button" id=project.id) Add Task
                  button(type="button" class="project-edit-button" id=project.id value=project.name) Edit
                  button(type="button" class="project-delete-button" id=project.id value=project.name) Delete
              .panel
                table(class="task-table")
                  thead
                    th Name
                    th.deadline Deadline
                    th Importance
                    th Actions
                  tbody(id=`projectList-${project.id}`)
                    each task in project.Tasks
                      tr
                        td
                          p.project-task-list-item(id=`task-${task.id}` data-name=task.name data-deadline=task.deadline data-importance=task.importance)= task.name
                        td
                          p= task.deadline
                        td
                          p= task.importance
                        td
                          i(class="fas fa-trash-alt task-delete-btn" data-id=task.id)
        button.btn(type="button" id="add-project" class="hvr-pop") Add Project
    .tasks-area
      .error-container.hidden.hidden-form.task-area-forms
        strong Please review the following errors:
      include forms.pug
      include project-description.pug
