extends layout
include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="./stylesheets/index.css")
  //- add page specific js
  script(src="./javascripts/task.js" type="module" defer)
  script(src="./javascripts/accordion.js" type="module" defer)
  script(src="./javascripts/buttons.js" type="module" defer)

block content
  .container
    .user-sidebar
      .user-corner
        h2 BluePrint
        p Welcome, #{user.username}
      .nav-area
        ul
          each group in groups
            li= group.name
            form(action="/home/groups/#{group.id}" method="post")
              input(type="hidden" name="_csrf" value=token)
            button(type="button", value=group.name, class="edit-button", id=group.id data-token=token) Edit
        ul
          each group in groups
            each project in group.Projects
              li= project.name
    .projects-area
      .search
        input(id="searchbar" type="text" placeholder="Search")
        button(type="submit" id="search-btn")
          i(class="fa fa-search")
      .accordion-area
        each group in groups
          each project in group.Projects
              button.accordion= project.name
              .panel
                ul
                  each task in project.Tasks
                    li.project-task-list-item= task.name
    .tasks-area
      p Select a task to edit.




