extends layout
include utils.pug
append head
  link(rel="stylesheet" href="./stylesheets/index.css")
<<<<<<< HEAD
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  //- add page specific js
=======
>>>>>>> main
  script(src="./javascripts/task.js" type="module" defer)
  script(src="./javascripts/accordion.js" type="module" defer)
  script(src="./javascripts/buttons.js" type="module" defer)

block content
  .container
    .user-sidebar.page-area-blue
      .user-corner
        h2 BluePrint
        p Welcome, #{user.username}
      .nav-area
        ul
          each group in groups
            li= group.name
            button(type="button", value=group.name, class="group-edit-button", id=group.id data-token=token) Edit
    .projects-area
      .search
        input(id="searchbar" type="text" placeholder="Search")
        button(type="submit" id="search-btn")
          i(class="fa fa-search")
      .accordion-area
        each group in groups
          each project in group.Projects
              button.accordion= project.name
              .panel
                ul
                  each task in project.Tasks
                    li.project-task-list-item= task.name
              button(type="button" class="project-edit-button" id=project.id data-token=token data-categories=categories) Edit
    .tasks-area
      p Select a task to edit.
