extends layout
append head
  link(rel="stylesheet" href="./stylesheets/index.css")
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  //- add page specific js
  script(src="./javascripts/task.js" type="module" defer)
  script(src="./javascripts/accordion.js" type="module" defer)
  script(src="./javascripts/buttons.js" type="module" defer)
  script(src="./javascripts/group.js" type="module" defer)
  script(src="./javascripts/project.js" type="module" defer)

block content
  .container
    .user-sidebar.page-area-blue
      .user-corner
        h2 BluePrint
        p Welcome, #{user.username}
        p: a(href="/users/logout") Logout
      .nav-area
        ul#groupList
          each group in groups
            li= group.name
            button(type="button", value=group.name, class="group-edit-button", id=group.id data-token=token) Edit
        button(type="button", id="add-group") Add Group
    .projects-area
      .search
        input(id="searchbar" type="text" placeholder="Search")
        button(type="submit" id="search-btn")
          i(class="fa fa-search")
      .accordion-area
        each group in groups
          each project in group.Projects
              .accordion(id=project.id)= project.name
                button(class="add-task-button" id=project.id) Add Task
              .panel
                table(class="task-table" id=`projectList-${project.id}`)
                  thead
                    th Name
                    th Deadline
                    th Importance
                    th Actions
                  tbody
                    each task in project.Tasks
                      tr(id=`task-${task.id}`)
                        td
                          p.project-task-list-item= task.name
                        td
                          p= task.deadline
                        td
                          p= task.importance
                        td
                          i(class="fas fa-trash-alt task-delete-btn" data-id=task.id)
              button(type="button" class="project-edit-button" id=project.id value=project.name) Edit
        button(type="button", id="add-project") Add Project
    .tasks-area
      include forms.pug
      include project-description.pug
